img {
    max-width: 100%;
    height: auto;
}

figcaption.image-caption {
    font-variant: small-caps;
}

.frame.frame-default {
    margin-bottom: 2rem;
}

.ce-intext [data-ce-columns="1"],
.ce-intext [data-ce-columns="2"],
.ce-intext [data-ce-columns="3"],
.ce-intext [data-ce-columns="4"] {
    width: 100%;
}

.ce-intext [data-ce-columns="2"] .ce-column,
.ce-center [data-ce-columns="2"] .ce-column {
    width: 48%;
    margin-right: 2%;
}

.ce-intext [data-ce-columns="3"] .ce-column,
.ce-center [data-ce-columns="3"] .ce-column {
    width: 31%;
    margin-right: 2%;
}

.ce-intext [data-ce-columns="4"] .ce-column,
.ce-center [data-ce-columns="4"] .ce-column {
    width: 23%;
    margin-right: 2%;
}

.ce-intext.ce-right .ce-gallery {
    margin-left: 0;
}

.ce-intext.ce-left .ce-gallery {
    margin-right: 0;
}

.ce-textpic,
.ce-image,
.ce-nowrap .ce-bodytext,
.ce-uploads li,
.ce-uploads div {
    overflow: visible;
}

.ce-gallery figure.video {
    display: block;
}

.video-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.video-embed iframe,
.video-embed video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100% !important;
    height: 100% !important;
}


/* Workaround fuer Responsive Videos in Verbindung mit fluid_styled_content */

.frame-layout-10 .ce-center .ce-inner {
    position: relative;
    float: none;
    right: -50%;
}

.frame-layout-10 .ce-left .ce-gallery,
.frame-layout-10 .ce-column {
    float: none;
}

.frame-layout-10 .ce-center .ce-outer {
    position: relative;
    float: none;
    right: 50%;
}

@media screen and (min-width: 601px) {
    .ce-intext [data-ce-columns="1"],
    .ce-intext [data-ce-columns="2"],
    .ce-intext [data-ce-columns="3"],
    .ce-intext [data-ce-columns="4"] {
        width: 50%;
    }
    .ce-intext.ce-right .ce-gallery {
        margin-left: 1rem;
    }
    .ce-intext.ce-left .ce-gallery {
        margin-right: 1rem;
    }
    .ce-textpic,
    .ce-image,
    .ce-nowrap .ce-bodytext,
    .ce-uploads li,
    .ce-uploads div {
        overflow: hidden;
    }
}


/* CE table */

table.ce-table-alt {
    border-collapse: separate;
}

table.ce-table-alt tbody tr td {
    border: solid 1px rgba(210, 215, 217, 0.75);
    border-left-width: 0;
    border-top-width: 0;
}

table.ce-table-alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.ce-table-alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.ce-table-alt thead {
    border-bottom: 0;
}

table.ce-table-alt tfoot {
    border-top: 0;
}


/* Form */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime-local"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="time"],
input[type="search"],
textarea,
select[multiple] {
    width: 100%;
    max-width: 30rem;
    border: solid 1px rgba(210, 215, 217, 0.75);
    border-radius: 0.375em;
    outline: 0;
    padding: 0.5em 1em;
}

select {
    border: solid 1px rgba(210, 215, 217, 0.75);
    border-radius: 0.375em;
    outline: 0;
    padding: 0.5em 1em;
}

select[multiple] {}

.frame-type-form_formframework .form-group {
    margin: 0 0 1rem 0;
}


/* felogin */

.frame-type-felogin_login legend {
    display: none;
}

.frame-type-felogin_login label input {
    display: block;
}

.frame-type-felogin_login label input[type="checkbox"] {
    display: inline-block;
}

.frame-type-felogin_login fieldset div {
    margin: 0 0 1rem 0;
}


/* rootline */

.rootline ul,
.rootline li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rootline ul {
    margin-top: .5rem;
    opacity: .8;
}

.rootline li {
    display: inline-block;
    font-size: 90%;
}

.rootline li:after {
    content: "/";
    padding: 0 .5rem;
}

.rootline li:last-child:after {
    content: "";
}


/* MetaMenu */

#footer .copyright p {
    margin: 0 0 .5rem 0;
}

.metaMenu,
.metaMenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.metaMenu a {
    color: inherit;
}


/* indexed_search */

#search input[type="search"] {
    max-width: inherit;
}

.tx-indexedsearch-info-sword {
    margin-top: 1rem;
}

.tx-indexedsearch-info-sword .searchword {
    font-weight: bold;
}

.tx-indexedsearch-res:after {
    display: block;
    content: "";
    width: 90%;
    border-bottom: 1px solid #ddd;
    margin: 0 auto 2rem auto;
}


/* tx-indexedsearch-browsebox */

ul.tx-indexedsearch-browsebox {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.tx-indexedsearch-browsebox li {
    display: inline-block;
    padding-left: 0;
    vertical-align: middle;
}

ul.tx-indexedsearch-browsebox li a {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: 0;
    border-radius: 0.375em;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 2em;
    line-height: 2em;
    margin: 0 0.125em;
    min-width: 2em;
    padding: 0 0.5em;
    text-align: center;
}

ul.tx-indexedsearch-browsebox li.tx-indexedsearch-browselist-currentPage a {
    background-color: #f56a6a;
    color: #ffffff !important;
}

ul.tx-indexedsearch-browsebox li.tx-indexedsearch-browselist-currentPage a:hover {
    background-color: #f67878;
}

ul.tx-indexedsearch-browsebox li.tx-indexedsearch-browselist-currentPage a:active {
    background-color: #f45c5c;
}

ul.tx-indexedsearch-browsebox li:first-child {
    padding-right: 0.75em;
}

ul.tx-indexedsearch-browsebox li:last-child {
    padding-left: 0.75em;
}

@media screen and (max-width: 480px) {
    ul.tx-indexedsearch-browsebox li:nth-child(n+2):nth-last-child(n+2) {
        display: none;
    }
    ul.tx-indexedsearch-browsebox li:first-child {
        padding-right: 0;
    }
}


/* Sprachmenü */

ul.languageMenu {
    text-align: right;
    margin: 0;
    padding: 0;
}

ul.languageMenu li {
    list-style-type: none;
    display: inline-block;
    margin: 0 .5rem 0 0;
}

ul.languageMenu li:last-child {
    margin: 0;
}

ul.languageMenu span.notranslation {
    opacity: .5;
}


/* form */

input,
select,
textarea {
    -moz-appearance: auto;
    -webkit-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: auto;
    -webkit-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
    display: inline;
    float: none;
    margin-right: 0;
    opacity: 100;
    width: 1em;
    z-index: -1;
}


/* für die Demo mit der Ext. glossary2 */

.tx-glossary2 ul {
    overflow: hidden;
    font-size: 85%;
    margin: 0 0 2rem 0 !important;
}

.tx-glossary2 ul,
.tx-glossary2 li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tx-glossary2 li {
    float: left;
    margin: 0 .5rem 0 0;
}

.tx-glossary2 li a,
.tx-glossary2 li span {
    display: inline-block;
    border: 1px solid #f56a6a;
    padding: 5px;
}

.tx-glossary2 li a span {
    border: 0;
    padding: 0;
}


/* Akkordeon ohne JS mit EXT:container */

.accordion details {
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin-bottom: .2rem;
    cursor: pointer;
}

.accordion summary {
    font-size: 120%;
    font-weight: bold;
}

.accordion_content {
    cursor: default;
    margin-top: 1rem;
}

.accordion details p:last-child {
    margin-bottom: 0;
}